<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.prowl.themeexampleplugin">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
       <package android:name="org.prowl.torque" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PluginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".AssetContentProvider"
            android:grantUriPermissions="true"
            android:authorities="org.prowl.themeexampleplugin" />

        <receiver
            android:name=".PluginReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="Theme Example plugin">
            <intent-filter>
                <action android:name="org.prowl.torque.THEME_QUERY" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.prowl.torque.THEME_PLUGIN" />
            </intent-filter>
        </receiver> <!-- Service to perform web API queries -->
        <service
            android:name=".PluginReceiver$PluginService"
            android:enabled="true"
            android:exported="true" />


    </application>

</manifest>